* {
    font-family: Courier New;
    color: white;
    background-color: aquamarine;
    text-align: center;
    font-size: 100px;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: auto;
}

h1 {
    border: white;
    border-style: double;
    margin: 0;
    padding: 40px;
    display: block;
    width: 100%;
    font-size: 200px;
    font-weight: bolder;
}

li {
    border: white;
    border-style: double;
    margin: 10px;
}

ul {
    list-style-type: none;
    border: white;
    border-style: double;
    margin: 10px;
}

a:link { 
    text-decoration: none; 
  } 

  a:hover { 
    color: black; 
  } 